<section class='d-flex justify-content-center'>
  <div class='card sm-w-50 border-success'>
    <div class='card-header d-flex justify-content-center header'>
      <h2 class='text-success'>Log in</h2>
    </div>


    <div class='card-body'>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email, hidden: true %>
          <%= f.email_field :email, autocomplete: "none", class: 'form-control no-border', placeholder:'email' %>                 
        </div>

        <div class="form-group">
          <%= f.label :password, hidden: true %>
          <%= f.password_field :password, class: 'form-control', placeholder:'password' %>          
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, class:'text-primary' %>
          </div>
        <% end %>

        <div class='d-flex justify-content-center'>
          <%= f.submit "Log in", class: 'btn btn-outline-primary' %>
        </div>
        
      <% end %>
      <br />
      <div class='shared_links'>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</section>
