<br />
<section>
  <div class='d-flex justify-content-between'>
    <div>Post index: <%= @post.id%> </div>
    <div>
      <span>Likes: <%= @post.likes.count %></span>
      <span>Comments: <%= @post.comments_counter %></span>
    </div>
  </div>
  <br/>
<div>
  <div><%= @post.title %></div>
  (By: <%= @post.user.first_name %> <%= @post.user.last_name %> )
  <div>
    Content: <%= @post.content %>
  </div>
</div>

<br />
Comments:
<br />
<% @comments.each do |comment| %>
    <%= comment.comment %>
<% end %>
<br />

<%= form_with(model: [@user, @post, @like], local: true) do |form| %>
  <%= submit_tag "Like" %>
<% end %>

</section>

  
  